{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Logged out</div>
        <div class="card-body">
            <h2>Logged out</h2>
            <p>You have been successfully logged out. You can <a href="{% url 'login' %}">log-in again</a>.</p>
        </div>
    </div>
</div>
{% endblock %}