{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log-in{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Log In</div>
        <div class="card-body">
            <h2>Log-in</h2>
            {% if form.errors %}
            <p>
                Your username and password didn't match.
                Please try again
            </p>
            {% else %}
            <p>Please, use the following form to log-in. If you don't have an
                account <a href="/account/register">register here</a></p>
            {% endif %}

            <div class="login-form">
                <form action="{% url 'login' %}" method="post" novalidate>
                    {{ form|crispy }}
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ next }}"/>
                    <p><input class="btn btn-primary" type="submit" value="Log-in"></p>
                </form>
                <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}