{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Password Changed</div>
        <div class="card-body">
            <h2>Password changed</h2>
            <p>Your password has been successfully changed</p>
        </div>
    </div>
</div>
{% endblock %}