{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Password Changed</div>
        <div class="card-body">
            <h2>Reset your password</h2>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the
                address you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}