{%  extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Password Changed</div>
        <div class="card-body">
            <h2>Forgotten your password?</h2>
            <p>Enter your e-mail address to obtain a new password.</p>
            <form action="" method="post" novalidate>
                {{ form|crispy }}
                <p><input class="btn btn-primary" type="submit" value="Send e-mail"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}