{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Password Changed</div>
        <div class="card-body">
            <h2>Password set</h2>
            <p>Your password has been set. You can <a href="{% url " login" %}">log in now</a></p>
        </div>
    </div>
</div>
{% endblock %}