{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <h2>Reset your password</h2>
            {% if validlink %}
            <p>Please enter your new password twice:</p>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password"/></p>
            </form>
            {% else %}
            <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}