{% extends "base.html" %}
{% block title %}Change your password{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Password Change</div>
        <div class="card-body">
            <h2>Change your password</h2>
            <p>Use the form below to change your password.</p>
            <form action="" method="post" novalidate>
                {{ form|crispy }}
                <p><input class="btn btn-primary" type="submit" value="Change"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}