{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
            <h2>Dashboard</h2>

            {% with total_images_created=request.user.images_created.count %}
            <p>Welcome to your dashboard. You have bookmarked {{ total_images_created }}
                image{{ total_images_created|pluralize }}.</p>

            {% endwith %}

            <p>Drag the following button to your bookmarks toolbar to bookmark images
                from other websites → <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="btn btn-primary">Bookmark
                    it</a>
            <p>


            <p>You can also <a href="{% url 'edit' %}">edit your profile</a> or <a
                    href="{% url 'password_change' %}">change your password</a>.
            </p>

            {% endblock %}
        </div>
    </div>
</div>

