{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<div class="col-lg-12 offset-lg-0">
    <div class="card">
        <div class="card-header">Edit Account</div>
        <div class="card-body">
            <h2>Edit your account</h2>
            <p>You can edit your account using the following form:</p>
            <form action="" method="post" enctype="multipart/form-data">
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                {{ profile_form.media }}
                {% csrf_token %}
                <p><input class="btn btn-primary" type="submit" value="Save Changes"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}