{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Log-in{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Log In</div>
        <div class="card-body">
            <h2>Log-in</h2>
            <p>Please, use the following form to log-in:</p>

            <form action="" method="post" novalidate>
                {{ form|crispy }}
                {% csrf_token %}
                <p><input class="btn btn-primary" type="submit" value="Log In"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
