{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Edit Account</div>
        <div class="card-body">
            <h2>Create an account</h2>
            <p>Please, sign up using the following form:</p>
            <form action="" method="post" novalidate>
                {{ user_form|crispy }}
                {% csrf_token %}
                <p><input class="btn btn-primary" type="submit" value="Create me account"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}