{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Edit Account</div>
        <div class="card-body">
    <h2>Welcome {{ new_user.first_name }}!</h2>
    <p>Your account has been successfully created. Now you can
        <a href="{% url 'login' %}">log in</a>.</p>
        </div>
    </div>
</div>
{% endblock %}